<!DOCTYPE html>
  <html lang="en" ng-app='searchListApp'>
    <head>
      <title>Narrow Down Your Menu Choice</title>
      <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
      <script src="angular.min.js"></script>
      <script src="app.js"></script>
      <link rel="stylesheet" href="styles/bootstrap.min.css">
      <link rel="stylesheet" href="styles/styles.css">
    </head>
  <body>
    <div ng-controller="searchListController as list" class="container">
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="list.searchTerm">
      </div>
      <div class="form-group narrow-button">
        <button 
          class="btn btn-primary" 
          ng-click="list.getItems(list.searchTerm)"
        >
          Narrow It Down For Me!
          
        </button>
      </div>
      <!-- <div ng-repeat="items in list.data">
        <div ng-repeat="item in items">
          {{list.addItem(item)}}
        </div>
      </div> -->
      <br>

      <search-list
        data = "list.data"
        found = "list.found"
        search-term = "list.searchTerm"
        on-remove = "list.removeItem(index)"
      >
      </search-list>
    </div>

  </body>
</html>
