<!-- <ol>
  <div ng-repeat="items in list.found">

      <li ng-repeat="item in items">
        <p>{{item.name}}</p>
        <button ng-click="list.onRemove({index: $index});">Don't want this one!</button>
      </li>
  </div>
</ol> -->
<div ng-repeat="items in list.data">
  <div ng-repeat="item in items">
    {{list.addItem(item)}}
  </div>
</div>

<ol>
    <li ng-repeat="item in list.found">
      <p>{{item.name}}</p>
      <button ng-click="list.onRemove({index: $index});">Don't want this one!</button>
    </li>
</ol>